found 396 solutions, 346 certificates
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: Any   3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: Any   3: False 4: False
1: True  2: True  3: False 4: False
1: True  2: True  3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: Any   3: False 4: False
1: True  2: False 3: False 4: False
1: True  2: Any   3: False 4: False
1: True  2: True  3: False 4: False
1: True  2: True  3: False 4: False
1: False 2: False 3: True  4: False
1: False 2: False 3: True  4: False
1: False 2: False 3: True  4: False
1: False 2: False 3: True  4: False
1: True  2: True  3: False 4: False
1: True  2: True  3: False 4: False
1: True  2: True  3: False 4: False
1: True  2: True  3: False 4: False
1: True  2: True  3: False
1: True  2: True  3: False
1: True  2: True  3: False
1: True  2: True  3: False
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: Any   4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: Any   4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: Any   4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: Any   4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: Any   4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: Any   4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: Any   4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: False 4: True 
1: True  2: True  3: Any   4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: False 2: False 3: True  4: False
1: False 2: False 3: True  4: False
1: False 2: False 3: True 
1: False 2: False 3: True 
1: False 2: False 3: True  4: True 
1: False 2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: Any   2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: Any   2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: Any   2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: Any   2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: False 2: False 3: True  4: True 
1: False 2: False 3: True  4: True 
1: False 2: False 3: True  4: True 
1: False 2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: Any   2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: Any   2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: Any   2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: Any   2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: True  3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
1: True  2: False 3: True  4: True 
1: True  2: Any   3: True  4: True 
